{% extends 'base.html' %}
{% block title %}
  Подписки пользователя {{ username }} 
{% endblock %} 
{% block content %}
  {% load cache %}
  <div class="container py-5">
    <h1>Подписки пользователя {{ username }} </h1>
    {% include 'posts/includes/switcher.html' %}
    {% cache 20 index_page with page_obj %}
      {% for post in page_obj %}
        {% include 'posts/includes/follow_post.html' %} 
      {% endfor %} 
      {% include 'posts/includes/paginator.html' %}
    {% endcache %}
  </div> 
{% endblock %} 